<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <!-- Avoid logger spam from web socket -->
    <logger name="org.eclipse.jetty" level="INFO"/>
    <!-- Ignore Discord4J Logging -->
    <logger name="discord4j" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="reactor" level="WARN"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>